In [1]:
import re

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df = pd.read_csv('latestdata.csv')

C:\Users\15185\AppData\Roaming\Python\Python37\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3267: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
ColNames = df.columns.tolist()
print(ColNames)

['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude', 'longitude', 'geo_resolution', 'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation', 'symptoms', 'lives_in_Wuhan', 'travel_history_dates', 'travel_history_location', 'reported_market_exposure', 'additional_information', 'chronic_disease_binary', 'chronic_disease', 'source', 'sequence_available', 'outcome', 'date_death_or_discharge', 'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1', 'country_new', 'admin_id', 'data_moderator_initials', 'travel_history_binary']

In [4]:
df.shape

(2676311, 33)

In [5]:
df_full_age = df.dropna(subset=['age'], inplace=False)

In [6]:
df_full_age.shape

(578018, 33)

In [7]:
df_full_age_sex = df_full_age.dropna(subset=['sex'], inplace=False)

In [8]:
df_full_age_sex.shape

(574029, 33)

In [9]:
df_full_age_sex_onset = df_full_age_sex.dropna(subset=['date_onset_symptoms'], inplace=False)

In [10]:
df_full_age_sex_onset.shape

(260731, 33)

In [11]:
df_full_age_sex_onset_confi = df_full_age_sex_onset.dropna(subset=['date_confirmation'], inplace=False)

In [12]:
df_full_age_sex_onset_confi.shape

(260604, 33)

In [13]:
df_full_age_sex_onset_confi["date_death_or_discharge"]

53                NaN
55                NaN
335        29.02.2020
365               NaN
446        02.03.2020
              ...
2500872           NaN
2500873           NaN
2500875           NaN
2500876           NaN
2500877           NaN
Name: date_death_or_discharge, Length: 260604, dtype: object

In [14]:
df_full_age_sex_onset_confi.date_death_or_discharge.isnull().sum()

257981

In [15]:
df_full_age_sex_onset_confi['date_confirmation'] = df_full_age_sex_onset_confi['date_confirmation'].str[:10]
df_full_age_sex_onset_confi['date_confirmation'] = pd.to_datetime(df_full_age_sex_onset_confi['date_confirmation'], format="%d.%m.%Y")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
df_full_age_sex_onset_confi['date_onset_symptoms'] = df_full_age_sex_onset_confi['date_onset_symptoms'].str[:10]
df_full_age_sex_onset_confi['date_onset_symptoms'] = pd.to_datetime(df_full_age_sex_onset_confi['date_onset_symptoms'], format="%d.%m.%Y")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df_full_age_sex_onset_confi['date_death_or_discharge'] = df_full_age_sex_onset_confi['date_death_or_discharge'].str[:10]
df_full_age_sex_onset_confi['date_death_or_discharge'] = pd.to_datetime(df_full_age_sex_onset_confi['date_death_or_discharge'], format="%d.%m.%Y")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
df_full_age_sex_onset_confi['censor_time'] = (df_full_age_sex_onset_confi['date_confirmation'] - df_full_age_sex_onset_confi['date_onset_symptoms']).dt.days

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_full_age_sex_onset_confi['event_time'] = (df_full_age_sex_onset_confi['date_death_or_discharge'] - df_full_age_sex_onset_confi['date_onset_symptoms']).dt.days

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_full_age_sex_onset_confi['event_time']

53          NaN
55          NaN
335        30.0
365         NaN
446        20.0
           ...
2500872     NaN
2500873     NaN
2500875     NaN
2500876     NaN
2500877     NaN
Name: event_time, Length: 260604, dtype: float64

In [21]:
df_last = df_full_age_sex_onset_confi

In [22]:
df_last['time'] = df_last['event_time'].fillna(df_last['censor_time']).where(df_last['event_time'].notnull() & (df_last['event_time'] >= df_last['censor_time']), df_last['censor_time'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df_last['time']

53          6.0
55         12.0
335        30.0
365         2.0
446        20.0
           ...
2500872     3.0
2500873     2.0
2500875     3.0
2500876     0.0
2500877     1.0
Name: time, Length: 260604, dtype: float64

In [24]:
df_last.time.isnull().sum()

0

In [25]:
df_last['status'] = df_last['event_time'].notnull().astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df_last['status']

53         0
55         0
335        1
365        0
446        1
          ..
2500872    0
2500873    0
2500875    0
2500876    0
2500877    0
Name: status, Length: 260604, dtype: int32

In [27]:
df_last.date_death_or_discharge.isnull().sum()

257981

In [28]:
(df_last['status'] == 0).sum()

257981

In [29]:
print(ColNames)
len(ColNames)

['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude', 'longitude', 'geo_resolution', 'date_onset_symptoms', 'date_admission_hospital', 'date_confirmation', 'symptoms', 'lives_in_Wuhan', 'travel_history_dates', 'travel_history_location', 'reported_market_exposure', 'additional_information', 'chronic_disease_binary', 'chronic_disease', 'source', 'sequence_available', 'outcome', 'date_death_or_discharge', 'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1', 'country_new', 'admin_id', 'data_moderator_initials', 'travel_history_binary']

33

In [30]:
df_last_toreg = df_last[['ID','age','status','time', 'country', 'latitude', 'longitude', 'symptoms','chronic_disease_binary', 'chronic_disease', 'outcome']]

In [31]:
df_last_toreg.head()

,ID,age,status,time,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,outcome
53,000-1-10045,50,0,6.0,China,42.944450,125.176200,NaN,False,NaN,NaN
55,000-1-10047,45,0,12.0,China,43.759480,123.695600,NaN,False,NaN,NaN
335,000-1-103,79,1,30.0,Singapore,1.353873,103.860478,NaN,False,NaN,discharge
365,000-1-10326,50,0,2.0,Japan,35.450850,139.665100,NaN,False,NaN,NaN
446,000-1-104,26,1,20.0,Singapore,1.353460,103.815100,NaN,False,NaN,discharge

In [32]:
df_last_toreg['chronic_disease'].fillna(0, inplace=True)

C:\Users\15185\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
df_last_toreg['symptoms'].fillna(0, inplace=True)

In [34]:
df_last_toreg.head(5)

,ID,age,status,time,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,outcome
53,000-1-10045,50,0,6.0,China,42.944450,125.176200,0,False,0,NaN
55,000-1-10047,45,0,12.0,China,43.759480,123.695600,0,False,0,NaN
335,000-1-103,79,1,30.0,Singapore,1.353873,103.860478,0,False,0,discharge
365,000-1-10326,50,0,2.0,Japan,35.450850,139.665100,0,False,0,NaN
446,000-1-104,26,1,20.0,Singapore,1.353460,103.815100,0,False,0,discharge

In [35]:
df_last_toreg[df_last_toreg['chronic_disease'] != 0].head(5)

,ID,age,status,time,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,outcome
1994,000-1-11793,80-89,0,17.0,NaN,23.759470,120.955900,0,True,hypertension; diabetes,NaN
4334,000-1-139,50-59,1,9.0,Canada,43.725290,-79.387000,0,True,hypertension,discharged
7534,000-1-1678,52,0,2.0,NaN,23.759470,120.955900,"cough, fever, myalgia, rhinorrhea, sore throat",True,diabetes,NaN
12449,000-1-21204,60-69,0,11.0,Japan,33.883295,130.875179,"Cough, fever (38.0 ° C)",True,kidney dz; on dialysis,NaN
24609,000-1-3215,33,0,4.0,South Korea,37.566670,126.966700,cough,True,asthma,NaN

In [36]:
uni_counts = df_last_toreg['chronic_disease'].value_counts()

uni_counts

0                                                                                                                         260558
hypertension                                                                                                                   8
asthma                                                                                                                         5
diabetes                                                                                                                       3
hypertensive                                                                                                                   3
hypertension:diabetes                                                                                                          3
hepatitis B, diabetes                                                                                                          2
hypertension; diabetes                                                                                                         2
type 2 diabetes for 30+ years; hypertension for 9 years; coronary bypass surgery for 2 years;                                  2
hypertriglyceridemia                                                                                                           2
prostate hypertrophy                                                                                                           2
history of hypertension, type 2 diabetes, coronary heart disease for which a stent had been implanted, and lung cancer         2
diabetes, hypertension                                                                                                         2
kidney dz; on dialysis                                                                                                         2
hypertension, diabetes, coronary heart disease, frequent ventricular premature beat (FVPB), coronary artery stenting           1
hypertension for more than 20 years, diabetes for more than 20 years, Parkinson's disease                                      1
Diabetes                                                                                                                       1
chronic kidney disease:hypertension:diabetes                                                                                   1
asthma:diabetes                                                                                                                1
hypertension:diabetes:valvular heart disease                                                                                   1
chronic kidney disease                                                                                                         1
Hypertension                                                                                                                   1
Name: chronic_disease, dtype: int64

In [37]:
split_values = df_last_toreg['chronic_disease'].str.split(r'[;:,]', expand=True)

In [38]:
df_without_missing = split_values[split_values[0].notna()]

In [39]:
df_without_missing.head()

                  0             1     2     3     4
1994   hypertension      diabetes  None  None  None
4334   hypertension          None  None  None  None
7534       diabetes          None  None  None  None
12449     kidney dz   on dialysis  None  None  None
24609        asthma          None  None  None  None

In [40]:
all_elements = split_values.values.ravel()

In [41]:
all_elements_series = pd.Series(all_elements)

In [42]:
chronic_counts = all_elements_series.value_counts()
print(chronic_counts)

hypertension                                                    16
diabetes                                                        11
asthma                                                           6
 diabetes                                                        5
hypertensive                                                     3
hepatitis B                                                      2
chronic kidney disease                                           2
hypertriglyceridemia                                             2
                                                                 2
 coronary bypass surgery for 2 years                             2
type 2 diabetes for 30+ years                                    2
 hypertension for 9 years                                        2
prostate hypertrophy                                             2
 coronary heart disease for which a stent had been implanted     2
 type 2 diabetes                                                 2
history of hypertension                                          2
 hypertension                                                    2
kidney dz                                                        2
 and lung cancer                                                 2
 on dialysis                                                     2
 Parkinson's disease                                             1
valvular heart disease                                           1
Diabetes                                                         1
 coronary artery stenting                                        1
 diabetes for more than 20 years                                 1
hypertension for more than 20 years                              1
 frequent ventricular premature beat (FVPB)                      1
 coronary heart disease                                          1
Hypertension                                                     1
dtype: int64

In [43]:
max_columns = split_values.shape[1]

In [44]:
new_columns = [f'B_{i+1}' for i in range(max_columns)]

In [45]:
split_values.columns = new_columns

In [46]:
split_values.columns

Index(['B_1', 'B_2', 'B_3', 'B_4', 'B_5'], dtype='object')

In [47]:
df_without_missing = split_values[split_values['B_1'].notna()]
df_without_missing.head()

                B_1           B_2   B_3   B_4   B_5
1994   hypertension      diabetes  None  None  None
4334   hypertension          None  None  None  None
7534       diabetes          None  None  None  None
12449     kidney dz   on dialysis  None  None  None
24609        asthma          None  None  None  None

In [48]:
chronic_index = chronic_counts.index.tolist()
max_columns = len(chronic_index)
print(chronic_index)

['hypertension', 'diabetes', 'asthma', ' diabetes', 'hypertensive', 'hepatitis B', 'chronic kidney disease', 'hypertriglyceridemia', '', ' coronary bypass surgery for 2 years', 'type 2 diabetes for 30+ years', ' hypertension for 9 years', 'prostate hypertrophy', ' coronary heart disease for which a stent had been implanted', ' type 2 diabetes', 'history of hypertension', ' hypertension', 'kidney dz', ' and lung cancer', ' on dialysis', " Parkinson's disease", 'valvular heart disease', 'Diabetes', ' coronary artery stenting', ' diabetes for more than 20 years', 'hypertension for more than 20 years', ' frequent ventricular premature beat (FVPB)', ' coronary heart disease', 'Hypertension']

In [49]:
for i in range(max_columns):
    split_values["chronic_"+chronic_index[i]] = (
           (split_values['B_1'].str.contains(chronic_index[i], case=False, na=False)) | 
           (split_values['B_2'].str.contains(chronic_index[i], case=False, na=False)) | 
           (split_values['B_3'].str.contains(chronic_index[i], case=False, na=False)) | 
           (split_values['B_4'].str.contains(chronic_index[i], case=False, na=False)) |
           (split_values['B_5'].str.contains(chronic_index[i], case=False, na=False))).astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  import sys

In [50]:
split_values[split_values['chronic_hypertension'] != 0].head(5)

,B_1,B_2,B_3,B_4,B_5,chronic_hypertension,chronic_diabetes,chronic_asthma,chronic_ diabetes,chronic_hypertensive,...,chronic_ on dialysis,chronic_ Parkinson's disease,chronic_valvular heart disease,chronic_Diabetes,chronic_ coronary artery stenting,chronic_ diabetes for more than 20 years,chronic_hypertension for more than 20 years,chronic_ frequent ventricular premature beat (FVPB),chronic_ coronary heart disease,chronic_Hypertension
1994,hypertension,diabetes,None,None,None,1,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
4334,hypertension,None,None,None,None,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34467,diabetes,hypertension,None,None,None,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
36662,history of hypertension,type 2 diabetes,coronary heart disease for which a stent had ...,and lung cancer,None,1,1,0,1,0,...,0,0,0,1,0,0,0,0,1,1
40112,type 2 diabetes for 30+ years,hypertension for 9 years,coronary bypass surgery for 2 years,,None,1,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [51]:
one_hot_code_chronic = split_values.drop(['B_1', 'B_2', 'B_3', 'B_4', 'B_5'],axis=1)

In [52]:
one_hot_code_chronic.head()

,chronic_hypertension,chronic_diabetes,chronic_asthma,chronic_ diabetes,chronic_hypertensive,chronic_hepatitis B,chronic_chronic kidney disease,chronic_hypertriglyceridemia,chronic_,chronic_ coronary bypass surgery for 2 years,...,chronic_ on dialysis,chronic_ Parkinson's disease,chronic_valvular heart disease,chronic_Diabetes,chronic_ coronary artery stenting,chronic_ diabetes for more than 20 years,chronic_hypertension for more than 20 years,chronic_ frequent ventricular premature beat (FVPB),chronic_ coronary heart disease,chronic_Hypertension
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df_last_toreg[df_last_toreg['symptoms'] != 0].head(5)

,ID,age,status,time,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,outcome
476,000-1-10426,60,0,15.0,Japan,35.450850,139.665100,"fever, severe pneumonia",False,0,NaN
504,000-1-10451,40-49,0,2.0,Japan,35.997360,139.347600,fever,False,0,NaN
756,000-1-10679,20-29,0,1.0,Japan,35.553333,139.781111,"cough, fever, sore throat",False,0,NaN
765,000-1-10687,40-49,0,13.0,Japan,35.711450,139.446800,"cough, fever",False,0,NaN
767,000-1-10689,80-89,0,9.0,Japan,35.711450,139.446800,"dyspnea, fever",False,0,NaN

In [54]:
symptoms_names = uni_counts.index.tolist()
max_columns = len(symptoms_names)
print(symptoms_names)

[0, 'hypertension', 'asthma', 'diabetes', 'hypertensive', 'hypertension:diabetes', 'hepatitis B, diabetes', 'hypertension; diabetes', 'type 2 diabetes for 30+ years; hypertension for 9 years; coronary bypass surgery for 2 years;', 'hypertriglyceridemia', 'prostate hypertrophy', 'history of hypertension, type 2 diabetes, coronary heart disease for which a stent had been implanted, and lung cancer', 'diabetes, hypertension', 'kidney dz; on dialysis', 'hypertension, diabetes, coronary heart disease, frequent ventricular premature beat (FVPB), coronary artery stenting', "hypertension for more than 20 years, diabetes for more than 20 years, Parkinson's disease", 'Diabetes', 'chronic kidney disease:hypertension:diabetes', 'asthma:diabetes', 'hypertension:diabetes:valvular heart disease', 'chronic kidney disease', 'Hypertension']

In [55]:
symptoms_split_values = df_last_toreg['symptoms'].str.split(r'[;:,]', expand=True)

In [56]:
symptoms_split_values.head()

       0    1    2    3    4    5    6
53   NaN  NaN  NaN  NaN  NaN  NaN  NaN
55   NaN  NaN  NaN  NaN  NaN  NaN  NaN
335  NaN  NaN  NaN  NaN  NaN  NaN  NaN
365  NaN  NaN  NaN  NaN  NaN  NaN  NaN
446  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [57]:
df_without_missing = symptoms_split_values[symptoms_split_values[0].notna()]
df_without_missing.head()

           0                  1             2     3     4     5     6
476    fever   severe pneumonia          None  None  None  None  None
504    fever               None          None  None  None  None  None
756    cough              fever   sore throat  None  None  None  None
765    cough              fever          None  None  None  None  None
767  dyspnea              fever          None  None  None  None  None

In [58]:
max_columns = symptoms_split_values.shape[1]

In [59]:
new_columns = [f'S_{i+1}' for i in range(max_columns)]

In [60]:
symptoms_split_values.columns = new_columns

In [61]:
df_without_missing = symptoms_split_values[symptoms_split_values['S_1'].notna()]
df_without_missing.head()

         S_1                S_2           S_3   S_4   S_5   S_6   S_7
476    fever   severe pneumonia          None  None  None  None  None
504    fever               None          None  None  None  None  None
756    cough              fever   sore throat  None  None  None  None
765    cough              fever          None  None  None  None  None
767  dyspnea              fever          None  None  None  None  None

In [62]:
r'\d'

'\\d'

In [63]:
columns_to_process = new_columns

def replace_fever(text):
    if pd.isna(text):  
        return text
    return 'fever' if re.search(r'fever', str(text), re.IGNORECASE) else text

# 对每一列进行处理
for col in columns_to_process:
    symptoms_split_values[col] = symptoms_split_values[col].apply(replace_fever)

In [64]:
def replace_fever(text):
    if pd.isna(text):  
        return text
    return 'fever' if re.search(r'\d', str(text), re.IGNORECASE) else text

for col in columns_to_process:
    symptoms_split_values[col] = symptoms_split_values[col].apply(replace_fever)

In [65]:
all_elements = symptoms_split_values.values.ravel()

In [66]:
all_elements_series = pd.Series(all_elements)

In [67]:
symptoms_counts = all_elements_series.value_counts()
print(symptoms_counts)

fever              895
cough              257
 cough             146
 sore throat        70
 headache           52
                  ...
 grasp               1
 conjunctivitis      1
 myalgias            1
mild                 1
Pneumonia            1
Length: 189, dtype: int64

In [68]:
symptoms_index = symptoms_counts.index.tolist()
max_columns = len(symptoms_index)
print(symptoms_index)

['fever', 'cough', ' cough', ' sore throat', ' headache', ' malaise', ' fatigue', 'pneumonitis', ' runny nose', 'chills', ' joint pain', 'sore throat', ' phlegm', 'fatigue', ' pneumonia', ' dyspnea', ' diarrhea', ' shortness of breath', ' sputum', 'pneumonia', 'malaise', ' weakness', 'respiratory symptoms', ' myalgia', ' nasal congestion', ' muscular soreness', ' dry cough', ' weak', 'Cough', 'discomfort', 'chest tightness', ' nausea', ' general malaise', 'dry cough', 'headache', 'sneezing', 'diarrhea', 'runny nose', 'Sore throat', 'nausea', ' breathing difficulty', 'acute respiratory distress syndrome', 'chest pain', 'asymptomatic', ' muscle aches', ' throat discomfort', 'anorexia', ' rhinorrhea', ' vomiting', ' muscle soreness', ' sore muscle', 'severe pneumonia', 'dry throat', ' expectoration', 'vomiting', ' general weakness', ' chills', ' body ache', ' mialgia', ' respiratory symptoms', ' nasal discharge', ' dry mouth', ' respiratory distress', 'dyspnea', 'dizziness', 'Mild respiratory symptoms', ' dry throat', ' sneeze', 'acute respiratory failure', 'chest distress', 'colds', ' cough and sore throath', ' respiratory problems (lungs)', 'body malaise', ' sore throath', ' coriza', 'Symptoms associated with a respiratory condition', ' pharyngeal discomfort', ' pain and unwellness', 'Rhinorrhea', ' running nose', ' pleuritic chest pain', 'catarrhal symptoms', 'Respiratory', ' pleural effusion', ' chest pain', ' sneezing', ' muscular stiffness', 'physical discomfort', 'pharyngeal discomfort', 'weakness', ' discomfort', ' other symptoms', 'transient fatigue', 'Pharyngeal dryness', ' shortness breath', ' pharyngalgia', ' muscle pain', ' lack of energy', ' rhinorrhoea', ' rigor', ' sweating', 'coughing', ' eventually showed acute left heart failure and acute coronary syndrome', ' diarrhoea', ' diarrheoa', 'muscular soreness', 'pharynx', ' soreness', ' muscle ache', 'Discharge', 'anhelation', ' dizziness', ' Cough', ' dcough', ' body aches', ' abdominal pain', 'difficulty breathing', ' runny nose and tiredness', 'lethargy', ' difficulty breathing', ' cough symptoms', 'Sputum', ' difficulty walking', ' Fatigue', 'systemic weakness', ' and malaise', ' sore limbs', 'severe dyspnea', ' headache.', ' sore throa', ' sore body', ' Headache', ' cold', ' toothache', ' couh', 'rever', ' anorexia', ' joint muscle pain', 'aching muscles', ' influenza', ' rash', ' mild coughing', 'feeling ill', 'myalgia', ' inapatence', 'phlegm', ' general pain', ' vomiting.', 'minor fatigue', ' mile cough', ' mausea', ' severe pneumonia', ' coughing', 'mild cough', ' cough Difficulty breathing', 'backache', 'abdominal pain', 'breathing difficulty', ' dsypnea', ' inappetance', ' difficuty breathing', ' phlegn', 'poor physical condition', ' nasal discharge/congestion', 'mild respiratory symptoms', 'Catarrhal symptoms', 'multiple organ failure', 'Respiratory symptoms', 'Mild resipiratory symptoms', 'flu-like symptoms', 'severe respiratory failure', 'respiratory', ' asthenia', ' dysphagia', 'septic shock', 'acute renal failure', 'cardiogenic shock', 'dysphagia', 'shortness of breath', 'none', ' mild cough', ' body pain', 'Severe', ' grasp', ' conjunctivitis', ' myalgias', 'mild', 'Pneumonia']

In [69]:
symptoms_split_values.head()

     S_1  S_2  S_3  S_4  S_5  S_6  S_7
53   NaN  NaN  NaN  NaN  NaN  NaN  NaN
55   NaN  NaN  NaN  NaN  NaN  NaN  NaN
335  NaN  NaN  NaN  NaN  NaN  NaN  NaN
365  NaN  NaN  NaN  NaN  NaN  NaN  NaN
446  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [70]:
max_columns

189

In [71]:
for i in range(max_columns):
    symptoms_split_values["symptoms_"+symptoms_index[i]] = (
           (symptoms_split_values['S_1'].str.contains(symptoms_index[i], case=False, na=False)) | 
           (symptoms_split_values['S_2'].str.contains(symptoms_index[i], case=False, na=False)) | 
           (symptoms_split_values['S_3'].str.contains(symptoms_index[i], case=False, na=False)) |
           (symptoms_split_values['S_4'].str.contains(symptoms_index[i], case=False, na=False)) | 
           (symptoms_split_values['S_5'].str.contains(symptoms_index[i], case=False, na=False)) | 
           (symptoms_split_values['S_6'].str.contains(symptoms_index[i], case=False, na=False)) | 
           (symptoms_split_values['S_7'].str.contains(symptoms_index[i], case=False, na=False))).astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if __name__ == '__main__':

In [72]:
symptoms_split_values.head()

,S_1,S_2,S_3,S_4,S_5,S_6,S_7,symptoms_fever,symptoms_cough,symptoms_ cough,...,symptoms_shortness of breath,symptoms_none,symptoms_ mild cough,symptoms_ body pain,symptoms_Severe,symptoms_ grasp,symptoms_ conjunctivitis,symptoms_ myalgias,symptoms_mild,symptoms_Pneumonia
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
one_hot_code_symptoms = symptoms_split_values.drop(['S_1', 'S_2', 'S_3', 'S_4', 'S_5','S_6','S_7'],axis=1)

In [74]:
one_hot_code_chronic.head()

,chronic_hypertension,chronic_diabetes,chronic_asthma,chronic_ diabetes,chronic_hypertensive,chronic_hepatitis B,chronic_chronic kidney disease,chronic_hypertriglyceridemia,chronic_,chronic_ coronary bypass surgery for 2 years,...,chronic_ on dialysis,chronic_ Parkinson's disease,chronic_valvular heart disease,chronic_Diabetes,chronic_ coronary artery stenting,chronic_ diabetes for more than 20 years,chronic_hypertension for more than 20 years,chronic_ frequent ventricular premature beat (FVPB),chronic_ coronary heart disease,chronic_Hypertension
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
one_hot_code_symptoms.head()

,symptoms_fever,symptoms_cough,symptoms_ cough,symptoms_ sore throat,symptoms_ headache,symptoms_ malaise,symptoms_ fatigue,symptoms_pneumonitis,symptoms_ runny nose,symptoms_chills,...,symptoms_shortness of breath,symptoms_none,symptoms_ mild cough,symptoms_ body pain,symptoms_Severe,symptoms_ grasp,symptoms_ conjunctivitis,symptoms_ myalgias,symptoms_mild,symptoms_Pneumonia
53,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df_tocsv = pd.concat([df_last_toreg, one_hot_code_chronic], axis=1)

In [77]:
df_tocsv = pd.concat([df_last_toreg, one_hot_code_symptoms], axis=1)

In [78]:
df_tocsv.head()

,ID,age,status,time,country,latitude,longitude,symptoms,chronic_disease_binary,chronic_disease,...,symptoms_shortness of breath,symptoms_none,symptoms_ mild cough,symptoms_ body pain,symptoms_Severe,symptoms_ grasp,symptoms_ conjunctivitis,symptoms_ myalgias,symptoms_mild,symptoms_Pneumonia
53,000-1-10045,50,0,6.0,China,42.944450,125.176200,0,False,0,...,0,0,0,0,0,0,0,0,0,0
55,000-1-10047,45,0,12.0,China,43.759480,123.695600,0,False,0,...,0,0,0,0,0,0,0,0,0,0
335,000-1-103,79,1,30.0,Singapore,1.353873,103.860478,0,False,0,...,0,0,0,0,0,0,0,0,0,0
365,000-1-10326,50,0,2.0,Japan,35.450850,139.665100,0,False,0,...,0,0,0,0,0,0,0,0,0,0
446,000-1-104,26,1,20.0,Singapore,1.353460,103.815100,0,False,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
df_tocsv.shape

(260604, 200)

In [80]:
uni_counts = df_last_toreg['outcome'].value_counts()

uni_counts

recovered                                                                   2671
died                                                                         614
discharge                                                                     98
stable                                                                        44
discharged                                                                    43
death                                                                          6
Alive                                                                          5
Deceased                                                                       3
Discharged                                                                     2
severe                                                                         2
dead                                                                           2
Symptoms only improved with cough. Currently hospitalized for follow-up.       2
treated in an intensive care unit (14.02.2020)                                 2
Hospitalized                                                                   1
Name: outcome, dtype: int64

df_tocsv.to_csv('covid-19.csv', index = True)

In [82]:
df_tocsv.to_csv('covid-19.csv', index = False, encoding='utf-8-sig')